# Arquivos e pastas a serem ignorados no Docker
bin/
obj/
out/
.vs/
.vscode/
*.user
*.suo
*.cache
*.log
.git/
.gitignore
README.md
Dockerfile*
docker-compose*
.dockerignore
node_modules/
npm-debug.log


